parameters:
	ignoreErrors:
		-
			message: '#^Method Nette\\Http\\IResponse\:\:setCookie\(\) invoked with 8 parameters, 3\-7 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Bridges/SecurityHttp/CookieStorage.php

		-
			message: '#^Instanceof between string and Nette\\Security\\Role will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: src/Security/User.php

		-
			message: '#^Parameter \#1 \$credentials of method Nette\\Security\\IAuthenticator\:\:authenticate\(\) expects array\{string, string\}, list\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Security/User.php
